/* ==UserStyle==
@name         Riot.im Dark
@description  An alternative dark theme for the webapp version of Riot.im.
@namespace    gitlab.com/maxigaz/riot-im-dark
@author       maxigaz
@homepageURL  https://gitlab.com/maxigaz/riot-im-dark
@version      0.0.0
==/UserStyle== */

@-moz-document domain("riot.im"), domain("vector.im"), domain("chat.disroot.org")
{
	:root {
		--main-background: #383c4a;
		--lighter-background-1: #3f4353;
		--lighter-background-2: #3f4454;

		--main-text-color: #e4e4e4;
		--lighter-text-color-1: #e7e7e7;
		--lighter-text-color-2: #eee;
		--lighter-text-color-3: #f5f5f5;

		--darker-text-color-1: #ddd;
		--darker-text-color-2: #d4d4d4;
		--darker-text-color-3: #cacaca;
		--darker-text-color-4: #c7c7c7;
		--darker-text-color-5: #bababa;

		--a-color: #2596ff;
		--a-hover-color: #23baff;

		--light-divider: #414757;
		--main-border: #292c36;
		--btn-border: #1b1b1b;
		--btn-background: #474b5d;
		--btn-disabled-background: #464a5c;
		--btn-disabled-color: #878787;
	}

	/* By Alex Howard {{{1 */
	.mx_MatrixChat
	{
		/* background-color: var(--lighter-background-1); */
	}

	.mx_MatrixChat .mx_LeftPanel {
		background-color: var(--lighter-background-1);
	}

	.mx_MatrixChat .mx_MatrixChat_middlePanel {
		background-color: var(--main-background);
	}

	.mx_RoomHeader_rightRow
	{
		background-color: var(--main-background);
	}

	.markdown-body code
	{
		background-color: white;
		color: black;
	}

	.mx_RoomView
	{
		background-color: var(--main-background);
	}

	.mx_LeftPanel .mx_RoomList_scrollbar
	{
		background-color: var(--main-background);
		color: white;
	}

	body
	{
		color: white;
		background-color: var(--main-background);
	}

	.mx_RightPanel_header
	{
		background-color: var(--main-background);
	}

	.mx_SearchableEntityList_query
	{
		background-color: var(--main-background);
		color: white;
	}

	.mx_EntityTile
	{
		background-color: var(--main-background);
	}

	.mx_EntityTile_name
	{
		color: white;
	}

	form
	{
		background-color: var(--main-background);
		color: white;
	}

	textarea
	{
		background-color: var(--main-background);
		color: white;
	}

	.mx_RightPanel_headerButton
	{
		background-color: var(--main-background);
	}

	.mx_MemberList_bottom
	{
		background-color: var(--main-background);
		color: white;
	}

	.mx_RoomTile_name
	{
		color: #BCC6CC;
	}

	.mx_RoomDropTarget
	{
		background-color: var(--main-background);
	}

	.mx_BaseAvatar_image
	{
		background-color: white;
	}

	.mx_RoomView_statusAreaBox_line
	{
		border-top: 1px solid #2C3539;
	}

	.mx_RoomSubList_label
	{
		color: #BCC6CC;
	}

	h2
	{
		color: #BCC6CC;
	}

	.mx_RightPanel
	{
		background-color: var(--main-background);
	}

	.mx_RoomHeader_topic
	{
		color: #BCC6CC;
	}

	.mx_EventTile .mx_SenderProfile
	{
		color: #BCC6CC;
	}

	h3
	{
		color: #BCC6CC;
	}

	.mx_MemberInfo_profileField
	{
		background-color: var(--main-background);
	}

	.mx_MessageComposer_input textarea
	{
		background-color: var(--main-background);
		color: #BCC6CC;
	}

	.mx_RoomStatusBar_typingBar
	{
		color: #BCC6CC;
	}

	.mx_MatrixToolbar
	{
		background-color: var(--main-background);
	}

	.markdown-body code
	{
		background-color: white;
		color: black;
	}

	.mx_RoomSettings h3
	{
		color: #BCC6CC;
	}

	.mx_UserSettings_profileInputCell input
	{
		padding: 2px;
	}

	.mx_SearchableEntityList_query::-webkit-input-placeholder
	{
		color: white;
	}

	.mx_SearchableEntityList_query::-moz-placeholder
	{
		color: white;
	}

	.mx_SearchableEntityList_query::-ms-placeholder
	{
		color: white;
	}

	.mx_MemberList_invited h2
	{
		color: #BCC6CC;
	}

	.mx_EntityTile_name_hover
	{
		color: white;
	}

	.mx_PresenceLabel
	{
		color: orange;
		opacity: 1;
	}

	.mx_MatrixToolbar_close img
	{
		background-color: #b5b5b5;
		padding: 1px;
	}

	.mx_UserSettings_profileInputCell input, .mx_UserSettings_profileInputCell .mx_EditableText
	{
		color: white;
	}

	.mx_UserSettings h3
	{
		color: white;
	}
	/* }}}1 */
	/* Added by maxigaz {{{1 */

	/* Hover on chat message *//*{{{*/
	.mx_EventTile.menu .mx_EventTile_line,
	.mx_EventTile:hover .mx_EventTile_line
	{
		background-color: var(--lighter-background-1);
	}
	/*}}}*/
	/* Highlighted permalinked chat message *//*{{{*/
	.mx_EventTile_selected .mx_EventTile_line
	{
		background-color: var(--lighter-background-1);
	}
	/*}}}*/
	/* Room list button to change notification *//*{{{*/
	.mx_RoomTile.mx_RoomTile_noBadges .mx_RoomTile_badge.mx_RoomTile_badgeButton, .mx_RoomTile.mx_RoomTile_notificationStateMenu.mx_RoomTile_noBadges .mx_RoomTile_badge:hover
	{
		background-color: #222;
		border: 1px solid #777;
	}
	/*}}}*/
	/* Room name speech bubble when the left sidebar is collapsed *//*{{{*/

	.collapsed .mx_RoomTooltip
	{
		background-color: #222;
		border: 1px solid #777;
	}
	/*}}}*/
	/* Context button next to chat message *//*{{{*/

	img.mx_EventTile_editButton
	{
		-webkit-filter: brightness(85%);
		filter: brightness(85%);
	}
	/*}}}*/
	/* Room title *//*{{{*/

	.mx_RoomHeader_name,
	.mx_RoomHeader_simpleHeader
	{
		color: rgb(230, 230, 230);
	}
	/*}}}*/
	/* Room list background *//*{{{*/

	.mx_RoomSubList_label
	{
		background-color: var(--lighter-background-1);
		border-top-color: #111;
		border-bottom: #111;
	}

	.mx_RoomTile_selected
	{
		background-color: var(--lighter-background-1);
	}

	.mx_RoomTile_selected .mx_RoomTile_name span
	{
		background: var(--lighter-background-1);
	}

	.mx_LeftPanel .mx_BottomLeftMenu
	{
		border-top-color: #222;
	}

	.mx_RoomTile
	{
		background-color: var(--lighter-background-1);
	}
	/*}}}*/
	/* Typing notification *//*{{{*/

	.mx_RoomView_statusArea
	{
		background-color: var(--main-background);
	}

	.mx_RoomView_statusAreaBox
	{
		background-color: var(--main-background);
	}
	/*}}}*/
	/* Divider lines *//*{{{*/

	.mx_RoomView_auxPanel
	{
		border-bottom: 1px solid var(--light-divider);
	}

	.mx_MessageComposer_wrapper
	{
		border-top: 1px solid var(--light-divider);
	}

	.mx_RoomView_MessageList h2
	{
		border-bottom: 1px solid var(--light-divider);
	}

	.mx_RightPanel_footer
	{
		border-top: 1px solid var(--light-divider);
	}

	.mx_RightPanel_header
	{
		border-bottom: 1px solid var(--light-divider);
	}
	/*}}}*/
	/* Context menu *//*{{{*/

	.mx_ContextualMenu
	{
		background-color: var(--lighter-background-1);
		color: rgb(220, 220, 220);
	}

	.mx_NotificationStateContextMenu_icon
	{
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
	/*}}}*/
	/* Right sidebar *//*{{{*/

	.mx_RightPanel_headerButtonGroup
	{
		background-color: var(--main-background);
	}

	/* Notifications time line *//*{{{*/

	.mx_NotificationPanel .mx_EventTile .mx_MessageTimestamp,
	.mx_NotificationPanel .mx_EventTile .mx_SenderProfile,
	.mx_NotificationPanel .mx_EventTile_senderDetails
	{
		color: rgb(200, 200, 200);
		/* Todo: it doesn't seem to do anything yet, so give it another try */
	}

	.mx_NotificationPanel .mx_EventTile:hover .mx_EventTile_line {
		background-color: inherit;
	}

	.mx_NotificationPanel .mx_EventTile_roomName a {
		color: rgb(220, 220, 220);
	}
	/*}}}*/
	/* Files time line *//*{{{*/

	.mx_FilePanel .mx_EventTile:hover .mx_EventTile_line {
		background-color: inherit;
	}
	/*}}}*/
	/*}}}*/
	/* Input fields *//*{{{*/

	input.mx_Login_field,
	input#passwordold,
	input#password1,
	input#password2,
	input.mx_MemberList_query {
		background: var(--main-background);
		color: rgb(230, 230, 230);
		border-color: #848484;
	}

	input.mx_SearchableEntityList_query {
		border: 1px solid #848484;
	}

	.mx_SearchBox_search::-moz-placeholder,
	.mx_MemberList_query::-moz-placeholder {
		color: rgb(200, 200, 200);
	}
	/*}}}*/
	/* Popup background *//*{{{*/

	.mx_Dialog_background,
	.mx_Dialog {
		background-color: #080707;
	}
	/*}}}*/
	/* Popup dialogue buttons *//*{{{*/

	.mx_Dialog button {
		background-color: #1a1919;
		border-color: #04874C99;
	}
	/*}}}*/
	/* Room directory *//*{{{*/

	.mx_RoomDirectory_name {
		color: rgb(230, 230, 230);
	}

	.mx_RoomDirectory_topic {
		color: rgb(215, 215, 215);
	}

	.mx_RoomDirectory_alias {
		color: rgb(180, 180, 180);
	}

	.mx_RoomDirectory_perm {
		background-color: rgb(14, 38, 27);
		border: 1pt solid rgba(119, 119, 119, 0.3);
	}

	.mx_RoomDirectory_input,
	.mx_NetworkDropdown_input {
		border-color: rgb(100, 100, 100);
		color: rgb(230, 230, 230);
	}

	.mx_NetworkDropdown_menu {
		border: 1px solid #777;
	}

	.mx_NetworkDropdown_networkoption {
		background-color: #222;
	}

	.mx_NetworkDropdown_menu .mx_NetworkDropdown_networkoption:hover {
		background-color: #292929;
	}
	/*}}}*/
	/* Communities *//*{{{ */

	.mx_TagPanel {
		background-color: var(--lighter-background-2);
	}
	/* }}} */
	/* Integration management *//*{{{*/

	.sc_ComponentHeader h1 {
		color: rgb(230, 230, 230);
	}

	.sc_Component_about {
		background-color: #212121;
		border-color: #545454;
	}

	.sc_Component_error {
		background-color: #312121;
		border-color: #645454;
	}
	/*}}}*/
	/* Sign out *//*{{{*/

	.mx_Dialog_content {
		color: rgb(215, 215, 215);
	}
	/*}}}*/
	/* Incoming call *//*{{{*/

	.mx_IncomingCallBox {
		background-color: var(--lighter-background-1);
		border-color: rgba(187,187,187,.5);
	}
	/*}}}*/
	/* }}}1 */

}
